/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*{
  border: 1px solid black;
}
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.main-div {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.banner {
  background-image: url('./imgs/Pizza.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;
  color:white;
  text-shadow: 2px 2px black ;
  font-size: 4em;
}

.banner-div h1 { 
  font-size: 3em;
  font-weight: bold;
  margin:1em;
}
.banner-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em;
  padding: 1em;
  
}
.nav-links a{
  padding: 1em;
  background-color: gray;
  color:yellow;
}
.item-cards{
  margin-top: 5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width:100%;
  
}
.item-card{
  border-radius: 10%;
  margin-top:5em;
  padding:0;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-card img{
  border-radius: 10%;
  width: 100%;
}
.form-div {
  display:flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.form-div h2{
  font-size: 4em;
}
.order-form {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.sauce-div{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.toppings-div {
  width:60%;
  height:10em;
  text-align: right;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}
.crust-div{
  display:flex;
  
}
.switch {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 4em;
  height: 2em;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.form-footer{
  display:flex;
  justify-content: space-evenly;
  width: 100%;
}
.confirmation-div img{
  margin:1em;
}
.confirmation-div h2{
  font-size: 3em;
  padding:1em;
  color: black;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
